* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #d7e6e1;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hijo {
    text-align: center;
    background-color: #ebebeb;
    width: 350px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px #000000;
}

.hijo h1 {
    padding-top: 35px;
}

.inputs {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
}

.btn {
    box-sizing: border-box;
}

.btn-login {
    height: 30px;
    width: 80%;
    background-color: #84e435;
    border: none;
    border-radius: 7px;
}

.btn-login:hover {
    background-color: #79c739;

}

.btn-register {
    height: 30px;
    width: 80%;
}

button {
    margin: 15px
}

span {
    color: #000000;
    font-size: smaller;
}

a {
    text-decoration: none;
    font-size: smaller;
}

hr {
    height: 1px;
    background-color: #000000;
    color: #000000;
    width: 80%;
    margin-left: 35px;
    margin-right: 35px;
}

input {
    outline: none;
    width: 80%;
    margin-bottom: 20px;
    height: 30px;
    padding-left: 5px;
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid #000000;
}

.linea {
    padding-top: 15px;
}